<div class="container">
  <div class="row">
    <div class="col">
      <div class="card col">
        <h2 class="text-center"><%= @user.name%>さんのFollower Users</h2>
        <% if @users.exists? %>
          <%= render 'public/users/index', users: @users %>
        <% else %>
          <p>ユーザーはいません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
