<div class="text-center"><%= image_tag "Football_days4.jpg" %></div>
<div class=text-center>
  <h1><strong>About</strong></h1>
  <h3>Football days とは？</h3>
  <p>国内・海外問わず、サッカー好きが集まるコミュニティーサイトです！</p>
  <p>試合観戦後の感想を語り合いたい・周りにサッカーに興味のある人がいない・</p>
  <p>サッカー好きの輪を広げたいなど。。。</p>
  <p>サッカー好き同士の意見発信や情報交換がいつでも誰とでも可能な空間です！</p>
  <%= link_to "新規登録する", new_user_registration_path, class: "btn btn-primary btn-sm"%>
</div>
