<div class="container">
  <div class="row">
    <div class="col">
      <div class="card col">
        <h2 class="text-center">Follow Users</h2>
        <%# ユーザーが存在するかを確認 %>
        <% if @users.exists? %>
          <%= render 'admin/users/index', users: @users %>
        <% else %>
          <p>ユーザーはいません</p>
        <% end %>
      </div>
    </div>
  </div>
</div